@{
    ViewData["Title"] = "Contact Us";
}

<h2>Contact Us</h2>

<h4>
    If you have any questions please contact the Pizza Shop by clicking the links below.
</h4>

<address>
    <strong>Support:</strong> <a href="mailto:aj28824@seeu.edu.mk">aj28824@seeu.edu.mk</a><br />
</address>
